<%- include('../includes/header.ejs') %>




<!-- Hamburger Menu ----------------------------------->
<%- include('../includes/hambuger.ejs') %>
<!-- Slider ----------------------------------------->

<hr>
	<div class="form">
		<form action="" method="post">
			<input type="text" placeholder="name product" name="name"/>
			<br>
			<input type="text" placeholder="title product" name="title"/>
			<br>
			<input type="number" placeholder="sale price" name="price"/>
			<br>
			<input type="file" placeholder="File Image" name="img"/>
			<br>


			<button type="submit">Add Product</button>
		</form>
	</div>


<hr>

<%- include('../includes/benefit.ejs') %> 
<!-- Giao hàng, vận chuyển  -->
<%- include('../includes/footer.ejs') %>

