<%- include('includes/header.ejs') %>

<%- include('includes/hambuger.ejs') %>

<h1>Đây là EJS</h1>

<%- include('includes/benefit.ejs') %> 
<!-- Giao hàng, vận chuyển  -->
<%- include('includes/footer.ejs') %>